.App {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/16/16/57/login-1203603_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  align-items: center;
}
