.App {
  background-image: url("https://img.freepik.com/free-vector/digital-coding-background-with-numbers-zero-one_1017-30363.jpg?w=1380&t=st=1690280322~exp=1690280922~hmac=a2a15056d3dc92285881dba2d3c2359f5a6e498776faf7c94d6d59bb56e74e7b");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  align-items: center;
}